 
body{
    background-color: #333;
    padding: 0;
    margin: 0;
}
.gra{
    width: 60vh;
    height: 30vh;
    border: 1px solid black;
    margin: auto;
    overflow-x: hidden;
    margin-top: 15vh;
    background: linear-gradient(180deg, #d1156d 0%, #dba718 80%, #111 80%);
}
#postac{
    width: 2vh;
    height: 4vh;
    background-image: url("postac.gif");
    position:relative;
    top: 17.5vh;
    left: 7vh;
}
.animacja{
    animation: skok 0.3s linear;
}
@keyframes skok{
    0%{top: 17.5vh;}
    30%{top: 10vh;}
    70%{top: 10vh;}
    100%{top: 17.5vh;}
}

#przeszkoda{
    background-image: url("samochod.png");
    width: 4vh;
    height: 1.3vh;
    position: relative;
    top: 21.5vh;
    left: 500px;
    animation: przeszkoda 1s infinite linear;
}
@keyframes przeszkoda{
    0%{left: 64vh}
    100%{left: -4vh}
}
#wyniki{
    text-align: right;
    margin-top: 1%;
    margin-right: 1%;
}
#tlo1{
    position:relative;

}
#slonce{
    background-image: radial-gradient( rgb(255, 255, 0) 0%, rgba(0, 0, 0, 0) 70%);
    width: 20vh;
    height: 20vh;
    position: absolute;
    top: 10vh;
    left: 20vh;
}
#podloga{
    position: absolute;
    background: #111;
    top: 24vh;
    width: 100vh;
    height: 6vh;
}
#linia{
    position: absolute;
    background: #111;
    width: 100vh;
    border-top: 0.5vh dashed white;
    animation: linia 1s infinite linear;
}
@keyframes linia{
    0%{left: -2vh;top: 26.5vh;}
    100%{left: -20vh;top: 26.5vh;}
}
h11{
    font-size: 15px;
    font-weight: 900;
    font-family: Comic Sans MS, Comic Sans, cursive;
}